stages:
  - deploy

deploy_website:
  stage: deploy
  image: amazon/aws-cli:2.15.5
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    # Sync local "public/" folder with S3 bucket
    - aws s3 sync public/ s3://$AWS_BUCKET_NAME --delete

    # Invalidate CloudFront cache
    - aws cloudfront create-invalidation \
        --distribution-id $CLOUDFRONT_DIST_ID \
        --paths "/*"

  only:
    - main
