stages:
  - deploy

deploy_website:
  stage: deploy
  image: amazon/aws-cli:2.15.5
  script:
    - aws --version
    - aws s3 sync public/ s3://foodbankconnect.me --delete
    - aws cloudfront create-invalidation --distribution-id E116FMVNVTQTZ7 --paths "/*"
  only:
    - main
