stages:
  - deploy

deploy_website:
  stage: deploy
  image: amazon/aws-cli:2.15.5
  script:
    - aws --version
    - aws sts get-caller-identity
    - aws s3 sync public/ "s3://$S3_BUCKET" --delete
    - aws cloudfront create-invalidation --distribution-id "$CLOUDFRONT_DIST_ID" --paths "/*"
  only:
    - main
